<div class="row">
    <div class="col-4">

    </div>
    <div class="col-1">
        <label  for="detail">
            Detail
        </label>
        <input type="checkbox"  name="formType" value="detail" id="detail" >
    </div>
    <div class="col-1">
        <label  for="form">
            Form
        </label>
        <input type="checkbox"  name="formType" value="form" id="form">
    </div>
    <div class="col-1">
        <label  for="summary">
            Summary
        </label>
        <input type="checkbox"  name="formType" value="summary" id="summary"  >
    </div>
    <div class="col-2">
        <input type="button" class="btn btn-primary" value="Select All" (click)="selectAll()">
    </div>
    <div class="col-4">

    </div>
</div>