.container{
    margin: 20px;
    /* background-color: #a4f7f8; */
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: right;
    background-color: #c4e7f5;
    padding: 10px;
}
h1,h2{
    margin-left: 50px;
}
p{
    text-indent: 10px;
}