<div class="navbar">
    <div class="site-name">
        <div class="site-image">
            <img src="/assets/header.png" width="140">
        </div>
    </div>
    <div class="site-menu">
        <ul>
            <li><a routerLink="Search-Page" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Search Page</a></li>      
            <li><a routerLink="Create-Page" [routerLinkActive]="'active'">Create Page</a></li>
            <li><a routerLink="Update-Page" [routerLinkActive]="'active'">Update Page</a></li>  
            <li><a routerLink="About-us" [routerLinkActive]="'active'">About us</a></li>       
            <li><a routerLink="Contact-us" [routerLinkActive]="'active'">Contact us</a></li>      
        </ul>
    </div>
</div>
