<div class="container">
    <div class="form-div">
        <form action="submit_form.php" method="post">
            <div class="input-container">
                <label class="label-div" for="Id">ID</label>
                <input class="input-div" type="text" id="Id" name="Id"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Name">Name</label>
                <input class="input-div" type="text" id="Name" name="Name"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Type">Type</label>
                <select class="input-div" id="Type" name="Type">
                    <option value="Char">Char</option>
                    <option value="Number">Number</option>
                    <option value="Boolean">Boolean</option>
                </select><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Description">Description</label>
                <input class="input-div" type="text" id="Description" name="Description"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Comment">Comment</label>
                <input class="input-div" type="text" id="Comment" name="Comment"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="History">History</label>
                <input class="input-div" type="text" id="History" name="History"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Boundary">Boundary</label>
                <input class="input-div" type="text" id="Boundary" name="Boundary"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Log">Log</label>
                <input class="input-div" type="text" id="Log" name="Log"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Cache">Cache</label>
                <input class="input-div" type="text" id="Cache" name="Cache"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Notify">Notify</label>
                <input class="input-div" type="text" id="Notify" name="Notify"><br><br>
            </div>

            <div class="input-container">
                <label class="label-div" for="Identifier">Identifier</label>
                <input class="input-div" type="text" id="Identifier" name="Identifier"><br><br>
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
