<div class="container">
    <div class="form-div">
        <form (ngSubmit)="onSearch()" #searchPage="ngForm" >
            <div class="input-container">
                <label class="label-div" for="search">Search Page</label>
                <input class="input-div" type="text" name="search" id="search" [(ngModel)]="searchValue" >
            </div>
            <div class="input-container">
                <label class="label-div-radio" for="name">
                    Search By Name
                </label>
                <input type="radio"  name="searchBy" value="name" id="name" [(ngModel)]="searchBy">
                <label class="label-div-radio" for="number">
                    Search By Number
                </label>
                <input type="radio" name="searchBy" value="number" id="number" [(ngModel)]="searchBy" >
                <br><br>
                <input type="button" class="btn btn-primary" value="Reset" (click)="onReset()">
            </div>
            <div class="input-container">
                <label class="label-div-check" for="detail">
                     Detail
                </label>
                <input type="checkbox" class="check-div" name="formType" value="detail" id="detail" [(ngModel)]="detailCheckBox">
                <label class="label-div-check" for="form">
                    Form
               </label>
                <input type="checkbox" class="check-div" name="formType" value="form" id="form"  [(ngModel)]="formCheckBox">
                <label class="label-div-check" for="summary">
                    Summary
               </label>
                <input type="checkbox" class="check-div" name="formType" value="summary" id="summary"  [(ngModel)]="summaryCheckBox">
            
               
                <input type="button" class="btn btn-primary" value="Select All" (click)="selectAll()">
            </div>

            <div class="input-container">
                <input class="btn btn-success" type="submit" value="Search">
            </div>
            
            

        </form>
    </div>
    <div class="table-responsive">
    <table class="table" *ngIf='filteredForm && filteredForm.length >0'>
        <thead>
            <tr >
                <th>Name</th>
                <th>Number</th>
                <th>Type</th>
                <th>Form Type</th>
                <th>Sequence</th>
                <th>Comment</th>
                <th>View Page</th>
                <th>Edit Page</th>
                <th>Delete Page</th>
            </tr>
        </thead>
            <tr  *ngFor="let form of filteredForm | paginate:{ itemsPerPage :30, currentPage:page,totalItems:totalLength}">
        <!-- </tr>/*| paginate:{itemsPerPage:50,currentPage:page,totalItems:totalLength,id:'formPagination'}*/"> -->
                <td>{{form.name}}</td>
                <td>{{form.number}}</td>
                <td>{{form.type}}</td>
                <td>{{form.formType}}</td>
                <td>{{form.sequence}}</td>
                <td>{{form.comment}}</td>
                <td><button class="btn btn-info" routerLink="View-Page/{{form.id}}">View</button></td>
                <td><button class="btn btn-warning" routerLink="/Update-Page/{{form.id}}">Edit</button></td>
                <td><button class="btn btn-danger" routerLink="/Search-Page" (click)="deleteForm(form.id)">Delete</button></td>
            </tr>
        
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>  