/* Center align the form */
.container {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: right;
    max-width: 90%;
}

.form-div {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.check-div{
    margin-right: 20px;
}
.label-div {
    font-weight: bold;
    width: 120px; 
    text-align: left;
    padding-right: 10px;
}
.label-div-radio {
    padding: 0px 10px;
    margin: 5px;
}
.label-div-check{
    
    padding: 0px 10px;
    margin: 5px;
}
.input-div {
    flex-grow: 1; 
    padding: 8px;
    margin: 4px 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
} 
.btn {
    margin:0px 15px;
}
.table {
    padding: 3px;
}
th, td {

    border-bottom: 1px solid #ddd;
  }
  td{
    max-width: 300px;
    padding: 3px;
    /* margin: 35px; */
  }

/*
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="button"] {
    
    max-width: 150px;
    background-color: #39a5db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="button"]:hover {
    background-color: #29779f;
}
input[type="radio"]{
    margin-right: 8px;
}
input[type="reset"] {
    
    max-width: 150px;
    background-color: #39a5db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="reset"]:hover {
    background-color: #29779f;
} */
/*
table,th,td,tr{
    border: 1px solid white;
    border-radius: 4px;
}
table{
    margin: 10px;
    padding: 1px;
   
    
    /* justify-content: center; 
}

tr{
    padding: auto;
    background-color: #aad0e3;
}
th{
    background-color: #29779f;
}
th,td{
    
    padding:2px  15px;
    max-width: 400px;
    
}
a{
    color: black;
}*/