<div class="container">
    <h2> Create form</h2>
        
        <form  #createPage="ngForm" (ngSubmit)="onPageSubmit()" >
            <div class="input-container">
                <label class="label-div" for="Name">Name*</label>
                <input class="input-div" type="text" id="Name" name="Name" required ngModel #name="ngModel">
                
            </div>
            <div *ngIf="name.invalid && (name.touched||createPage.submitted)" class="alert alert-danger"> Name is required</div>

            <div class="input-container">
                <label class="label-div" for="TableName">Table Name*</label>
                <select class="input-div" for="TableName" name="Table" required  ngModel #tablename="ngModel">
                    <option value="" disabled selected>--Select an table--</option>
                    <option *ngFor="let table of tableNames" value="{{table.id}}">{{table.name}}</option>
                </select>
                
            </div>
            <div *ngIf="tablename.invalid && (tablename.dirty || tablename.touched||createPage.submitted) " class="alert alert-danger">Table name is required</div>
            
            <div class="input-container">
                <label class="label-div" for="Type">Type</label>
                <select class="input-div" id="Type" name="Type"  required ngModel #type="ngModel">
                    <option value="" disabled selected>--Select an option--</option>
                    <option value="Detail" >Detail</option>
                    <option value="Form">Form</option>
                    <option value="Summary">Summary</option>
                </select>  
               
            </div>
            <div *ngIf="type.invalid &&( type.touched||createPage.submitted)" class="alert alert-danger">Type is required</div>

            <div *ngIf="type.value=='Form'" >
                <div class="input-container">
                <label class="label-div" for="Number">Form Number</label>
                <input class="input-div" type="text" id="Number" name="Number" required ngModel #number="ngModel">  
                
            </div>
            <div  *ngIf="number.invalid &&( number.touched||createPage.submitted)" class="alert alert-danger">Number is required</div>
            </div>
           
           
            <div  *ngIf="type.value=='Form'">

            <div class="input-container">
                <label class="label-div" for="FormType">Form Type</label>
                <select  class="input-div" id="FormType" name="FormType" required ngModel #formtype="ngModel">
                    <option value="" disabled selected>--Select an option--</option>
                    <option value="Conditional">Conditional</option>
                    <option value="Mandatory">Mandatory</option>
                    <option value="Optional">Optional</option>
                </select> 
            </div> 
                <div *ngIf="formtype.invalid && (formtype.touched||createPage.submitted)" class="alert alert-danger">Form Type is required for type 'Form' </div>
            </div>

            <div class="input-container">
                <label class="label-div" for="Sequence">Sequence</label>
                <input class="input-div" type="number" id="Sequence" name="Sequence" ngModel>
            </div>
            
            <div class="input-container">
                <label class="label-div" for="SubSequence">Sub Sequence</label>
                <input class="input-div" type="number" id="SubSequence" name="SubSequence" ngModel>  
            </div>
            

          

            <div class="input-container">
                <label class="label-div" for="HidePremium">Hide Premium</label>
                <input class="check-div" type="checkbox" id="HidePremium" name="HidePremium" ngModel>  
            
                
                <label class="label-div" for="HideForm"> Hide Form:</label>
                <input class="check-div" type="checkbox" id="HideForm" name="HideForm" ngModel>  
            </div>
            


            <div class="input-container">
                <label class="label-div" for="Template File">Template File</label>
                <input class="input-div"  type="text" id="TemplateFile" name="TemplateFile" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="Condition">Condition</label>
                <input class="input-div"  type="text" id="Condition" name="Condition" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="Tab Condition">Tab Condition</label>
                <input class="input-div"  type="text" id="TabCondition" name="TabCondition" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="TabResource">Tab Resource</label>
                <input class="input-div"  type="text" id="TabResource" name="TabResource" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="MinimumOccurs">Minimum Occurs</label>
                <input class="input-div" type="number" id="MinimumOccurs" name="MinimumOccurs" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="MaximumOccurs">Maximum Occurs</label>
                <input class="input-div" type="number" id="MaximumOccurs" name="MaximumOccurs" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="Comment">Comment</label>
               <textarea class="input-div " name ="Comment" ngModel></textarea>
            </div>

            <div class="input-container">
                <label class="label-div" for="HelpText">Help Text</label>
                <input class="input-div" type="text" id="HelpText" name="HelpText" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="ScriptBefore">Script Before</label>
                <input class="input-div" type="text" id="ScriptBefore" name="ScriptBefore" ngModel>  
            </div>

            <div class="input-container">
                <label class="label-div" for="ScriptAfter">Script After</label>
                <input class="input-div" type="text" id="ScriptAfter" name="ScriptAfter" ngModel>  
            </div>
            <div class="input-container">
            <input class="btn btn-lg btn-primary"  type="submit" value="Submit">
            </div>
        </form>
</div>
