
<div class="container">
    <h2 class="head">
        Page Details
    </h2>
    <div class="data-container">
        <div class="label-div">
            Form Name :
        </div>
        <div class="data-div">
            {{form.name }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Table Name :
        </div>
        <div class="data-div">
            {{table.name }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Type :
        </div>
        <div class="data-div">
            {{form.type }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Form Type :
        </div>
        <div class="data-div">
            {{form.formType }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Sequence :
        </div>
        <div class="data-div">
            {{form.sequence }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Comment:
        </div>
        <div class="data-div">
            {{form.comment }}
        </div>
    </div>
    <div class="data-container">
        <div class="label-div">
            Condition:
        </div>
        <div class="data-div">
            {{form.condition }}
        </div>
    </div>
</div>