<div class="container">
    <h2>Welcome to NeST digital</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel metus nec eros rhoncus feugiat at a urna.
         Fusce malesuada quam eget neque volutpat, vel fermentum odio tempor. Sed a erat eu libero auctor blandit. Suspendisse potenti. Integer interdum, ipsum eget condimentum varius, erat purus iaculis turpis, eget ullamcorper purus velit nec est.</p>

    <h2>Services</h2>
    <p>We offer a wide range of services to meet your needs.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Nullam vel metus nec eros rhoncus feugiat at a urna. 
         Fusce malesuada quam eget neque volutpat, vel fermentum odio tempor. Sed a erat eu libero auctor blandit. 
         Suspendisse potenti. Integer interdum, ipsum eget condimentum varius, erat purus iaculis turpis,
          eget ullamcorper purus velit nec est.</p>
</div>